/* ?============== CUSTOM PROPERTY ==============?*/

:root {
  /* ?======== COLORS ========?*/

  --sky-blue-crayola: #58c9da;
  --raisin-black_90: #1c1c21e6;
  --raisin-black-1: #28282f;
  --raisin-black-2: #1c1c21;
  --majorelle-blue: #5a58e9;
  --blue-ryb_80: #423ff3cc;
  --bittersweet: #ff6161;
  --eerie-black: #212121;
  --ghost-white: #f7f8fd;
  --light-gray: #cccccc;
  --slate-gray: #717684;
  --cool-gray: #818389;
  --gainsboro: #e1e5ea;
  --mustard: #ffdd61;
  --white: #ffffff;
  --black: #000000;
  --onyx: #3f3f46;
  --jet: rgb(54, 54, 54);

  /* ?======== GRADIENT ========?*/

  --gradient: radial-gradient(ellipse at center, #00000040, transparent 80%);

  /* ?======== TYPOGRAPHY ========?*/

  --ff-montserrat: "Montserrat", sans-serif;

  --fs-1: 4rem;
  --fs-2: 3.5rem;
  --fs-3: 2.4rem;
  --fs-4: 2.2rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.7rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;

  --fw-500: 500;
  --fw-700: 700;

  /* ?======== SPACING ========?*/

  --section-padding: 100px;

  /* ?======== SHADOW ========?*/

  --shadow-1: 0px 2px 50px #a9b7da4d;
  --shadow-2: 0px -2px 12px #eae8f2;
  --shadow-3: 0px 4px 4px #646b960f;
  --shadow-4: 0px 15px 30px #39526a0d;
  --shadow-5: 0px 15px #23218c0a;

  /* ?======== RADIUS ========?*/

  --radius-8: 8px;
  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;

  /* ?======== TRANSITION ========?*/

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* ?============== RESET ==============?*/

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  border: 2px solid red;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-montserrat);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--slate-gray);
  font-size: 1.6rem;
  line-height: 1.75;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
  border-radius: 20px;
}

/* ?============== REUSED STYLE ==============?*/

.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.h1,
.h2 {
  letter-spacing: -2px;
}

.h1 {
  color: var(--black);
  font-size: var(--fs-1);
  line-height: 1.1;
}

.h2,
.h3 {
  color: var(--raisin-black-1);
}

.h2 {
  font-size: var(--fs-2);
  line-height: 1.2;
}

.h3 {
  font-size: var(--fs-3);
  line-height: 1.3;
  font-weight: var(--fw-500);
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

:is(.h1, .h2) .has-before {
  display: inline-block;
}

:is(.h1, .h2) .has-before::before {
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: var(--mustard);
  z-index: -1;
}

.btn {
  max-width: max-content;
  font-weight: var(--fw-700);
  height: 55px;
  display: flex;
  align-items: center;
  padding-inline: 50px;
  border-radius: var(--radius-10);
  overflow: hidden;
  transition: var(--transition-2);
}

.btn::before,
.btn::after {
  right: 0;
  width: 100%;
  height: 50%;
  transform: scaleX(0);
  background-color: var(--mustard);
  z-index: -1;
  transition: transform var(--transition-1);
}

.btn::before {
  top: 0;
  transform-origin: left;
}

.btn::after {
  top: 50%;
  transform-origin: right;
}

.btn:is(:hover, :focus)::before,
.btn:is(:hover, :focus)::after {
  transform: scaleX(1);
}

.btn:is(:hover, :focus)::before {
  transform-origin: right;
}

.btn:is(:hover, :focus)::after {
  transform-origin: left;
}

.btn-primary {
  background-color: var(--majorelle-blue);
  color: var(--white);
}

.btn-primary:is(:hover, :focus) {
  color: var(--raisin-black-1);
}

.btn-secondary {
  background-color: var(--mustard);
  color: var(--raisin-black-1);
  gap: 15px;
}

.btn-secondary::before,
.btn-secondary::after {
  background-color: var(--sky-blue-crayola);
}

.btn-secondary:is(:hover, :focus) {
  color: var(--white);
}

.social-list {
  display: flex;
}

.w-100 {
  width: 100%;
}

.section-subtitle {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  line-height: 1.2;
}

.section-subtitle::before {
  position: static;
  width: 12px;
  height: 12px;
  background-color: var(--mustard);
  display: inline-block;
  border-radius: 50%;
  margin-inline-end: 10px;
}

.text-center {
  text-align: center;
}

.section-title {
  margin-block: 30px 50px;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ?============== HEADER ==============?*/

.header .btn {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  transition: padding var(--transition-1);
  z-index: 4;
}

.header.active {
  background-color: var(--white);
  padding-block: 15px;
  box-shadow: var(--shadow-1);
}

/* .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 98%;
} */

.logo {
  color: var(--raisin-black-1);
  font-size: 3.6rem;
  font-weight: var(--fw-700);
}

.nav-open-btn {
  background-color: var(--white);
  color: var(--eerie-black);
  font-size: 35px;
  padding: 10px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-10);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--raisin-black-2);
  color: var(--white);
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(0);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 60px;
}

.navbar .logo {
  color: var(--white);
}

.nav-close-btn {
  color: var(--white);
  font-size: 30px;
  transition: var(--transition-1);
}

.nav-close-btn:is(:hover, :focus) {
  color: var(--bittersweet);
}

.navbar-item:not(:last-child) {
  border-block-end: 1px solid var(--jet);
}

.navbar-link {
  font-size: var(--fs-9);
  font-weight: var(--fw-700);
  padding-block: 15px;
  text-transform: uppercase;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
  color: var(--mustard);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--raisin-black_90);
  transition: var(--transition-2);
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* CONTAINER */

.cover .carousel-item > img {
  min-width: 100%;
  height: calc(100vh - 62px);
  object-fit: cover;
}

.cover .carousel-caption {
  bottom: initial;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.cover .carousel-caption > a {
  border-radius: 0;
}

.dark-overlay::after {
  content: " ";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
}

.brand-title {
  font-family: "Fredericka the Great", cursive;
  /* font size = min font size + (max font size - min font size) * (100vw - min viewport size) / (max viewport size - min viewport size) */
  font-size: calc(50px + (120 - 50) * (100vw - 320px) / (2560 - 320));
}

.brand-description {
  /* font size = min font size + (max font size - min font size) * (100vw - min viewport size) / (max viewport size - min viewport size) */
  font-size: calc(16px + (40 - 16) * (100vw - 320px) / (2560 - 320));
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

/* ?============== HERO ==============?*/

.hero {
  padding-block-start: 0px;
}

.hero .container {
  display: grid;
  gap: 70px;
}

.hero-text {
  font-size: var(--fs-7);
  margin-block: 33px 35px;
}

.hero-content :is(.wrapper, .hero-btn) {
  display: flex;
  align-items: center;
}

.hero-content .wrapper {
  flex-wrap: wrap;
  gap: 30px;
  margin-block-end: 30px;
}

.hero-btn {
  gap: 15px;
  color: var(--raisin-black-1);
  transition: var(--transition-1);
}

.hero-btn:is(:hover, :focus) {
  color: var(--majorelle-blue);
}

.hero-btn ion-icon {
  font-size: 24px;
}

.hero-btn .span {
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

.hero .social-link .span {
  display: none;
}
.hero .social-list {
  gap: 12px;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero .social-link {
  background-color: var(--white);
  color: var(--color);
  padding: 12px;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-8);
  transition: var(--transition-2);
}

.hero .social-link:is(:hover, :focus) {
  background-color: var(--color);
  color: var(--white);
}

.slideshow-container {
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.mySlides {
  display: none;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.5;
  }
}

/* ?============== SERVICE ==============?*/

.service {
  background-color: var(--ghost-white);
}

.service .section-title {
  margin-block: 30px 60px;
}

.service-card,
.service .link-card {
  padding: 45px;
  border-radius: var(--radius-20);
}

.service-card {
  height: 100%;
  background-color: var(--white);
  padding-block-end: 40px;
  border-block-end: 3px solid transparent;
  box-shadow: var(--shadow-3);
  transition: var(--transition-1);
}

.service-card:is(:hover, :focus-within) {
  border-color: hsl(var(--color));
}

.service-card .card-icon {
  max-width: max-content;
  padding: 15px;
  border-radius: var(--radius-8);
  background-color: hsla(var(--color), 0.15);
  margin-block-end: 25px;
  transition: var(--transition-2);
}

.service-card:is(:hover, :focus-within) .card-icon {
  transform: rotateY(0.5turn);
}

.service-card .card-title {
  transition: var(--transition-1);
}

.service-card .card-title:is(:hover, :focus-within) {
  color: hsl(var(--color));
}

.service .link-card {
  background-color: hsla(var(--color), 0.15);
  text-align: center;
}

.service .link-card .span {
  color: var(--raisin-black-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  margin-block-end: 20px;
  transition: var(--transition-1);
}

.service .link-card:is(:hover, :focus) .span {
  color: var(--majorelle-blue);
}

.service .link-card ion-icon {
  color: var(--majorelle-blue);
  font-size: 150px;
  transform: rotate(-45deg);
  margin: -25px auto;
  transition: var(--transition-1);
}

.service .link-card:is(:hover, :focus) ion-icon {
  color: hsl(var(--color));
}

/* ============ BANNER ============  */

.banner-section {
  height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/fasteck_logo.png) center/cover fixed no-repeat;
}

/* ?============== PRODUCTS ==============?*/

.product {
  background-color: var(--white);
}
.product-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--transition-2);
  border-radius: 8px;
  padding: 2px;
}

.product-image-container:hover {
  transform: scale(1.05);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px 0px;
}

.product-info h2 {
  font-size: 20px;
  color: #323094cc;
  font-weight: bold;
}
.product-info p {
  font-size: 15px;
  color: black;
  text-align: center;
  font-weight: 500;
  margin-top: 7px;
}

.product-image-container img {
  width: 250px;
  height: 250px;
}

/* ?============== PROJECT ==============?*/

.project {
  background-color: var(--ghost-white);
}

.project .section-title {
  margin-block: 20px 60px;
}

.filter-list {
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-block-end: 70px;
}

.filter-btn {
  color: var(--cool-gray);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  padding: 11px 20px;
  border-radius: var(--radius-8);
  transition: var(--transition-1);
}

.filter-btn:is(:hover, :focus) {
  color: var(--raisin-black-1);
}

.filter-btn.active {
  background-color: var(--white);
  color: var(--raisin-black-1);
  box-shadow: var(--shadow-4);
}

.project-card {
  position: relative;
  border-radius: var(--radius-15);
  overflow: hidden;
}

.project-card .card-banner img {
  transition: var(--transition-2);
}

.project-card:is(:hover, :focus-within) .card-banner img {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.project-card .card-content {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  background-color: var(--mustard);
  border-radius: var(--radius-10);
  padding: 30px 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(calc(-50% + 20px));
  transition: var(--transition-2);
}

.project-card .card-tag {
  color: var(--raisin-black-1);
  font-size: var(--fs-9);
}

.project-card:is(:hover, :focus-within) .card-content {
  opacity: 1;
  transform: translateY(-50%);
}

/* ?====== ABOUT US ======?*/
.aboutus {
  background-color: var(--ghost-white);
}
.aboutus p {
  width: 70%;
  margin: auto;
  text-align: center;
}

.aboutus .container {
  margin: 40px auto;
  width: 83%;
}

/* ?============== FEATURE ==============?*/

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.feature-card .card-icon {
  background-color: hsla(var(--color), 0.15);
  font-size: 24px;
  max-width: max-content;
  padding: 18px;
  border-radius: 50%;
  margin-block-end: 20px;
  transition: var(--transition-2);
}

.feature-card .card-icon ion-icon {
  color: hsl(var(--color));
  transition: var(--transition-1);
}

.feature-card .card-title {
  text-align: center;
  font-size: var(--fs-7);
  font-weight: 600;
}
.feature-card .card-text {
  color: var(--cool-gray);
  font-size: var(--fs-8);
  margin-block-start: 10px;
}

.feature-card:is(:hover, :focus) .card-icon {
  box-shadow: inset 0 0 0 30px hsla(var(--color), 0.9);
}

.feature-card:is(:hover, :focus) .card-icon ion-icon {
  color: var(--white);
}

/* ?============== CONTACT US ==============?*/

.contact-us .contact-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  /* margin: 16rem auto; */
  margin: auto;
  width: 85%;
  gap: 25px;
  /* padding: 50px; */
}

.contact-us {
  background-color: var(--ghost-white);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 125vh;
}
.contact-us .contact-item {
  color: black;
  font-size: var(--fs-8);
  font-weight: 500;
}

.contact-us li {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.contact-list .fa-phone:before,
.contact-list .fa-envelope:before,
.contact-list .fa-link:before,
.contact-list .fa-map-marker:before {
  color: #5a58e9;
  margin-right: 18px;
}
.contact-list .fa-phone:before {
  font-size: 25px;
}
.contact-list .fa-envelope:before {
  font-size: 20px;
}
.contact-list .fa-link:before {
  font-size: 23px;
}
.contact-list .fa-map-marker:before {
  font-size: 27px;
  margin-left: 2px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  justify-content: center;
}
.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
  margin: 10px;
}

.contact-us form .form-group .form-control {
  font-family: "Rubik", sans-serif;
  background: white;
  border: 1px solid #f4f5f9;
  font-size: 15px;
  padding: 20px;
  border-radius: 8px;
}
.contact-us form .form-group input {
  height: 62px;
}

/* ?============== FOOTER ==============?*/

.footer {
  background-color: var(--raisin-black-1);
  color: var(--cool-gray);
}

.footer-brand img {
  width: 120px;
  height: 100px;
}

.footer-list div {
  display: flex;
  flex-direction: row;
}

.footer-list .footer-contact-block {
  margin-top: 13px;
}

.footer-list-title {
  color: var(--white);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  margin-block-end: 10px;
}

.footer-text {
  margin: 10px 0px;
}

.footer .social-list {
  gap: 12px;
}

.footer .social-link {
  background-color: var(--onyx);
  padding: 12px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.footer .social-link:is(:hover, :focus) {
  background-color: var(--majorelle-blue);
  color: var(--white);
}

.footer-link {
  font-size: var(--fs-8);
  margin-block-start: 15px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) {
  color: var(--mustard);
}

.footer-link-col-3 {
  margin: 0px;
}

.fa-link:before {
  content: "\f3c5";
  font-size: 18px;
  margin: 3px 12px 0px 0px;
  color: white;
}

.fa-envelope:before {
  content: "\f0e0";
  font-size: 15px;
  margin: 3px 12px 0px 0px;
  color: white;
}

.fa-phone:before {
  content: "\f879";
  font-size: 20px;
  margin: 3px 12px 0px 0px;
  color: white;
}
.fa-map-marker:before {
  content: "\f041";
  font-size: 22px;
  margin: 3px 12px 0px 0px;
  color: white;
}

.fa-linkdin::before {
  content: "\f08c";
  font-size: 22px;
}

.footer-bottom {
  color: var(--white);
  font-size: var(--fs-8);
  padding-block: 20px;
  border-block-start: 1px solid var(--onyx);
}

.copyright {
  margin-block-end: 15px;
}

.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 15px;
}

.footer-bottom-link {
  transition: var(--transition-1);
}

.footer-bottom-link:is(:hover, :focus) {
  color: var(--mustard);
}

/* ?============== BACK TO TOP ==============?*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: var(--majorelle-blue);
  color: var(--white);
  font-size: 18px;
  padding: 16px;
  border-radius: var(--radius-8);
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-1);
}

.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}

.back-top-btn::after {
  bottom: -12px;
  right: 0;
  width: 100%;
  height: 10px;
  background-image: var(--gradient);
}

/**============== RESPONSIVE FOR LARGER THAN 325PX SCREEN ==============**/

@media (min-width: 320px) {
  .contact-us {
    height: 200vh;
  }

  .header .container {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    align-items: center;
    margin: auto;
    width: 98%;
  }

  .hero-text {
    font-size: 12px;
    margin-block: 8px 15px;
  }

  .header-logo-container img[alt="logo"] {
    height: 60px;
    width: 65px;
  }
  .active,
  .dot:hover {
    background-color: #000000;
  }
  .footer-form button {
    position: relative;
    left: 280px;
    top: -23px;
    color: white;
  }

  .footer-list-title {
    margin-top: 25px;
  }
  .footer-bottom {
    padding-block: 0px;
  }
  .power-by {
    text-align: center;
  }

  .contact-us .contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
/**============== RESPONSIVE FOR LARGER THAN 575PX SCREEN ==============**/

@media (min-width: 525px) {
  

  /* ?====== REUSED STYLE ======?*/

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .wrapper {
    display: none;
  }
  /* ?====== HEADER ======?*/

  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 98%;
  }

  .header .container {
    max-width: 100%;
  }

  .header-logo-container img[alt="logo"] {
    height: 78px;
    width: 90px;
  }
  /* ?====== PROJECT ======?*/

  .project .grid-list {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .project-card .card-content {
    max-width: max-content;
    width: calc(100% - 40px);
    left: 50%;
    right: auto;
    padding: 50px 80px;
    transform: translate(-50%, calc(-50% + 20px));
  }

  .project-card:is(:hover, :focus-within) .card-content {
    transform: translate(-50%, -50%);
  }

  .project-card .card-title {
    margin-block-end: 10px;
  }

  /* .contact-us .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 130px;
  } */

  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
  }

  .feedback input[type="email"] {
    color: var(--white);
    border-radius: 6px;
    height: 4rem;
    padding: 1px 8px;
    background-color: #000000;
  }

  .footer-form button {
    position: relative;
    left: 475px;
    top: -28px;
    color: white;
  }
  .copyright {
    text-align: center;
  }

  /* .footer-bottom{} */

  .power-by {
    float: right;
    margin: -40px 15rem;
    padding: 2px;
  }
  .footer-bottom {
    padding-block: 20px;
  }
}

/**============== RESPONSIVE FOR LARGER THAN 768PX SCREEN ==============**/

@media (min-width: 768px) {
  /* ?====== CUSTOM PROPERTY ======?*/

  .header .container {
    max-width: unset;
  }
  .hero-title {
    font-size: var(--fs-2);
  }
  .hero-text {
    font-size: var(--fs-9);
    margin-block: 25px 28px;
  }
  .wrapper {
    display: contents;
  }
  .mySlides img {
    height: 120vh;
  }
  :root {
    /* ?====== TYPOGRAPHY ======?*/

    --fs-1: 5.5rem;
    --fs-2: 3.8rem;
    --fs-7: 1.8rem;

    /* ?====== SPACING ======?*/

    --section-padding: 80px;
  }

  /* ?====== REUSED STYLE ======?*/

  .container {
    max-width: 720px;
  }

  .btn {
    height: 60px;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /* ?====== HERO ======?*/
  .hero .container {
    margin: 40px auto;
    text-align: center;
  }

  .hero .wrapper {
    gap: 50px;
    margin-block-end: 60px;
  }

  .hero .social-link .span {
    display: block;
    font-size: var(--fs-9);
    color: white;
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: var(--transition-2);
  }

  .hero .social-link {
    display: flex;
    align-items: center;
    gap: 15px;
    background: none;
    box-shadow: none;
  }

  .hero .social-link:is(:hover, :focus) {
    background: unset;
    color: var(--color);
  }

  .hero .social-link:is(:hover, :focus) .span {
    color: var(--color);
  }

  .feature-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  /* ?====== PROJECT ======?*/

  .project .grid-list > li:first-child {
    grid-column: 1fr 1fr 1fr;
  }
  /* ?====== FOOTER ======?*/
  .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    row-gap: 60px;
  }
  .footer-form button {
    left: 300px;
  }

  .copyright {
    text-align: center;
  }

  .footer-bottom-list {
    justify-content: center;
  }
  .power-by {
    margin: -38px 24.5rem;
  }
}

/**============== RESPONSIVE FOR LARGER THAN 992PX SCREEN ==============**/

@media (min-width: 992px) {
  /* ?====== REUSED STYLE ======?*/

  .container {
    max-width: 960px;
  }

  .container .wrapper {
    display: contents;
  }

  .btn {
    height: 58px;
    margin: 4px 0px;
  }

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ?====== HEADER ======?*/

  .header {
    padding-block-start: 45px;
  }
  .header-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header-logo-container h3 {
    color: var(--black);
    font-size: 28px;
  }
  .nav-open-btn,
  .overlay,
  .navbar .wrapper {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar-item:not(:last-child) {
    border: none;
  }

  .navbar-list {
    display: flex;
    gap: 30px;
    padding-left: 100px;
  }

  .navbar-link {
    position: relative;
    color: #758c8f;
    text-transform: capitalize;
    font-size: unset;
    font-weight: var(--fw-500);
  }

  .navbar-link:is(:hover, :focus) {
    color: var(--raisin-black-1);
  }

  .navbar-link::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 5px;
    background-color: var(--majorelle-blue);
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus)::before {
    width: 100%;
  }

  .header .btn {
    display: inline-flex;
  }

  .header .btn::before,
  .header .btn::after {
    background-color: var(--raisin-black-1);
  }

  .header .btn:is(:hover, :focus) {
    color: var(--white);
  }

  .contact-us .contact-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  /* ?====== HERO ======?*/

  .hero-text {
    font-size: var(--fs-7);
    margin-block: 33px 35px;
  }

  .hero .wrapper {
    flex-wrap: nowrap;
  }

  .hero .btn,
  .hero-btn .span {
    flex-shrink: 0;
  }

  .hero-banner {
    margin-inline-end: -322px;
  }

  /* ?====== FEATURE ======?*/
  .feature-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .feature .container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  /* ?====== PROJECT ======?*/

  .filter-btn {
    --fs-9: 1.8rem;
    padding: 20px 25px;
  }

  /* ?====== FOOTER ======?*/
  .footer-top {
    grid-template-columns: 0.9fr 0.5fr 1.2fr 0.9fr;
    padding-block: 90px;
    padding-block-end: 60px;
    display: grid;
    gap: 50px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-block: 20px; */
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    margin-block-start: 20px;
  }
  .footer-form button[type="submit"] {
    color: white;
    position: relative;
    top: 0px;
    left: -27px;
  }

  .copyright {
    margin-block-end: 0;
    margin: auto;
  }

  .power-by {
    margin: -51px 10px;
  }

  .row > [class*="col-"] {
    width: 88%;
  }

  .contact-us {
    height: 150vh;
  }
  .contact-container {
    width: 85%;
  }
}

/**============== RESPONSIVE FOR LARGER THAN 1200PX SCREEN ==============**/

@media (min-width: 1200px) {
  /* ?====== CUSTOM PROPERTY ======?*/

  :root {
    /* ?====== TYPOGRAPHY ======?*/

    --fs-1: 5.5rem;
    --fs-2: 4.5rem;
  }

  /* ?====== REUSED STYLE ======?*/

  .container {
    max-width: 1130px;
  }

  .section-title.text-center {
    max-width: 20ch;
    margin-inline: auto;
  }

  /* ?====== HEADER ======?*/

  .header .container {
    padding-inline: 60px;
  }

  .navbar-list {
    gap: 50px;
  }

  /* ?====== HERO ======?*/

  .hero-content {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 85%;
  }

  .hero-text {
    margin-block: 30px 20px;
  }

  .hero .wrapper {
    margin-block-end: auto;
  }

  .hero-banner {
    margin-inline-end: -175px;
    min-height: max-content;
  }

  /* ?====== PRODUCT ======?*/
  .img-holder {
    width: 405;
    height: 418;
  }

  .product .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-card .h3 {
    --fs-3: 2rem;
  }

  /* ?====== SERVICES ======?*/

  .filter-btn {
    padding-inline: 40px;
  }
}
